<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>An Error Occurred: {{ status_text }}</title>
</head>
<body>
<div>
    <h1>Oops! An Error Occurred</h1>

    <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>
    <img src="{{ asset('bundles/app/images/404-image.jpg') }}"/>
</div>
</body>
</html>
