body {
    background: #F2F2F2;
    margin: 0;
    padding: 0;
}

#_tools {
    margin: 15px;
    border: 1px solid #000;
    margin: 10px auto;
    display: block;
    overflow: hidden;
}
.tool.tile {
    border: 1px solid #000;
    background-image: url(images/tileset.gif);
    float: left;
    margin: 3px;
    height: 32px;
    width: 32px;
}
.tool.active {
    border: 1px solid red;
}

#_map {
    border: 1px solid #000;
    margin: 10px auto;
}
.tile {
    background: transparent url(images/tileset.gif) 0 0 no-repeat;
    border: 1px dashed transparent;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    float: left;
    height: 32px;
    width: 32px;
}
.tile:hover {
    border: 1px dashed #000;
}
.submit {
    font-size: 14px;
}