<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {% include ':Includes:style.html.twig' %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

{% block body_content %}{% endblock %}

{% block javascripts %}
    {% include ':Includes:javascript.html.twig' %}
{% endblock %}

</body>
</html>
