<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ asset('bundles/app/js/jquery-2.1.3.min.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ asset('bundles/app/bootstrap-3.3.2/js/bootstrap.min.js') }}"></script>
