{% trans_default_domain 'MoriorEnchantToolsBundle' %}

<h1>{{ 'map.editor.title'|trans }}</h1>
<div id="_enchant_tools_editor">

    <div id="_tools">

        {% set counter = 0 %}
        {% for i in 0..10 %}
            * {{ i }}
        {% endfor %}

        <?php $i = 0 ?>
        <?php for ($y=0; $y < $assetHeight; $y++) : ?>
        <div style="clear: both;">
            <?php for ($x=0; $x < $assetWidth; $x++) : ?>
            <a class="tool tile id<?= $i ?>" href="#"
               id="<?= $i ?>"
               title="<?= $x.'/'.$y ?>">&nbsp;</a>
            <?php $i++ ?>
            <?php endfor ?>
            <span><?= $Tile->description($i) ?></span>
        </div>
        <?php endfor ?>

        <form action="mapGenerate.php" method="POST">
            <input type="hidden" name="width" value="<?= $width ?>"/>
            <?php $i = 0 ?>
            <?php for ($y=0; $y < $height; $y++) : ?>
            <?php for ($x=0; $x < $width; $x++) : ?>
            <input type="hidden" id="input<?= $i ?>" name="<?= 'y'.$y.'['.$i.']' ?>" value="0"/>
            <?php $i++ ?>
            <?php endfor ?>
            <?php endfor ?>
            <input type="submit" class="submit" value="save"/>
        </form>

    </div>

    <div id="_map" style="width: <?= $width*$tile ?>px; height: <?= $height*$tile ?>px;">
        <?php $i = 0 ?>
        <?php for ($y=0; $y < $height; $y++) : ?>
        <?php for ($x=0; $x < $width; $x++) : ?>
        <a class="tile" id="tile_<?= $i ?>"
           data-id="<?= $i ?>"
           href="#" title="<?= $x.'/'.$y ?>">&nbsp;</a>
        <?php $i++ ?>
        <?php endfor ?>
        <?php endfor ?>
    </div>

</div>
