{% extends 'base.html.twig' %}

{% block body_content %}
    <h1>Homepage</h1>

    <h2>Enchant Tools</h2>
    <nav>
        <ul class="nav masthead-nav">
            <li>
                <a href="{{ path('morior_app_homepage') }}">Home</a>
            </li>
            <li>
                <a href="{{ path('morior_enchant_tools_map_create') }}">Map Create</a>
            </li>
            <li>
                <a href="{{ path('morior_enchant_tools_map_editor') }}">Map Editor</a>
            </li>
        </ul>
    </nav>
{% endblock %}
